<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
    <script type="text/javascript">

        function uyari(){
            alert("Kılavuz Yazılım");
        }
     
     </script>
    
</head> -->
<div class="container">
    <!-- <div class="col-md-12">
        <div class ="row yukseklik d-flex justify-content-center">
            <div class="col-md-12 mx-auto my-auto renk rounded-2 shadow p-3 d-flex justify-content-center">
                <h2 class="display-3 text-center"Kayıt Formu></h2>
                <form >
                    <fieldset clas="p-4">
                        <div class="row">
                            <h2>FORM PAGE</h2> 
                        </div> 
                        <div clas="row mb-3">
                            <label for="adress" class="col-form-label col-md-3">Title1</label>
                            <div class="col-md-9 ">
                                <div class="row mb-3 ">
                                    <div class="col-md-6">
                                        <input type="text" placeholder="İnput1" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="İnput2" class="form-control">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div clas="row mb-3">
                            <label for="adress" class="col-form-label col-md-3">Title2</label>
                            <div class="col-md-9">
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <input type="text" placeholder="İnput1" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="İnput2" class="form-control">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div clas="row mb-3">
                            <label for="adress" class="col-form-label col-md-3">Ttile3</label>
                            <div class="col-md-9">
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <input type="text" placeholder="İnput1" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="İnput2" class="form-control">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div clas="row mb-3">
                            <label for="adress" class="col-form-label col-md-3">Title4</label>
                            <div class="col-md-9">
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <input type="text" placeholder="İnput1" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="İnput2" class="form-control">
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="d-grid mx-auto col-3 " >
                            <button type="button" onclick="javascript: alert('Form Gönderme İşlemi Başarılı')"class="btn btn-primary">Gönder</button>
                        </div>
                    
                    </fieldset>
                </form>
            </div>
        </div>
    </div> -->
    
    <div class="row">
            <div class="col-md-6 mx-auto my-auto renk rounded-2 shadow p-3 d-flex justify-content-center">
            <form >
                <p class="h2 text-center">Title</p>
                <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                     <label for="inputEmail4">input1</label>
                      <input  class="form-control" placeholder="input1">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">input2</label>
                      <input class="form-control"  placeholder="input2">
                    </div>
                  </div>
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                     <label for="inputEmail4">input1</label>
                      <input  class="form-control" placeholder="İnput1">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">input2</label>
                      <input  class="form-control"  placeholder="input2">
                    </div>
                  </div>
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                     <label for="inputEmail4">input1</label>
                      <input class="form-control" placeholder="input1">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">input2</label>
                      <input  class="form-control"  placeholder="input2">
                    </div>
                  </div>
                  <div class="row d-flex justify-content-center">
                    <div class="col-md-6">
                     <label for="inputEmail4">input1</label>
                      <input  class="form-control" placeholder="input1">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">İnput2</label>
                      <input class="form-control"  placeholder="input2">
                    </div>
                  </div>
                <div class="row d-flex justify-content-center">
                    <div class="col-3 p-3 alert aler-primary ">
                        <button type="submit" class="btn btn-primary float-end ">Gönder</button>
                    </div>                
                </div>      
              </form>
        </div>
    </div>  
</div>