
<!-- <nav class="navbar navbar-expand-lg renk  bos nav-default">
  <button class="btn btn-primary mx-auto" (click)="open()" >
    <i class="fa fa-bars fa-lg   " aria-hidden="true"></i>
  </button>
    <div class="container">
      <a class="navbar-brand me-2 " href="https://arifdegirmenci.com/"  target="_blank" rel="noreferrer noopener">
        <img
          src="https://cdn.worldvectorlogo.com/logos/angular-3.svg"
          height="50"
        />
      </a>      -->
   
      
      <!-- <div class="collapse navbar-collapse" >
        <ul class="navbar-nav me-auto  mb-lg-0">
          <li class="nav-item ">
            <a class="nav-link" href="http://localhost:4200/user_management" >Anasayfa
            </a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" href="http://localhost:4200/card">Products <span class="sr-only"></span></a> 
          </li>
        </ul> -->
        <!-- <div class="d-flex align-items-center">
          <div class="dropdown">
            <a class="btn btn-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" >
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person-fill-down" viewBox="0 0 16 16">
                <path d="M12.5 9a3.5 3.5 0 1 1 0 7 3.5 3.5 0 0 1 0-7Zm.354 5.854 1.5-1.5a.5.5 0 0 0-.708-.708l-.646.647V10.5a.5.5 0 0 0-1 0v2.793l-.646-.647a.5.5 0 0 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
                <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
              </svg>              
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">item1</a></li>
              <li><a class="dropdown-item" href="#">item2</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">item3</a></li>
            </ul>
          </div>
        </div>
      </div>
  </nav> -->
<nz-header>
  <div class="app-header">
    <ul nz-menu nzTheme="dark" nzMode="horizontal">
      <li nz-menu-item>nav 1</li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item>nav 3</li>
    </ul>
    <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
        <span class="trigger"
           nz-icon
           [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        ></span>
    </span>
  
  </div>
    </nz-header>